<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h2>Artists</h2>
    <div class="artist-list">
        {{range .}}
        <div class="artist-card">           
            <p><b>Artist {{.ID}}</b><br>{{.Name}} {{.CreationDate}}</p>
            <img src="{{.Image}}" alt="{{.Name}}">
            <br><br>
        </div>
        {{end}}
    </div>
</body>
</html>