<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ascci-Art-Web-Projcet</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>Ascii Art Generator</h1>
        
    <div class="container">

        <form action="/ascii-art" method="POST">
            <textarea name="input" placeholder="type something awesome"></textarea><br><br>
            <label for="banner">Select Banner:</label><br>
            <select name="banner" id="banner">
                <option value="standard">standard</option>
                <option value="shadow">shadow</option>
                <option value="thinkertoy">thinkertoy</option>
            </select><br><br>
            <input type="submit" id="btn" value="Generate Art">      
        </form>
    </div>
</body>
</html>

